# Editing files
.README.md.swp

# Hide stuff from env
.env
.env.testing
.env.*
!.env.example

# packages
/src/vendor
/src/node_modules
/src/.env
/src/.env.*
!/src/.env.example

#Storage cache
/src/storage/*.key
/src/storage/logs/*.log
/src/storage/framework/cache/data/*
/src/storage/framework/sessions/*
/src/storage/framework/testing/*
/src/storage/framework/views/*
/src/public/sitemap.xml

# Docker cache
/docker/runtime/storage/logs/*
/docker/runtime/storage/framework/cache/data/*
/docker/runtime/storage/framework/sessions/*
/docker/runtime/storage/framework/testing/*
/docker/runtime/storage/framework/views/*
